.body{
  position: relative;
}
.mobileNav{
  display: none;
}

@media screen and (max-width: 500px){
  .mobileNav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 30px;
    gap: 1.5em;
    flex-direction: row;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
  }
}