@mixin flex($position , $content){
  display: flex;
  align-items: $position;
  justify-content: $content;
}
.body{
  width: 100%;
  min-height: 844px;
  @include flex(center, center);
  flex-direction: column;
}
.login{
  width: 350px;
  height: 100%;
  @include flex(center, start);
  flex-direction: column;
  gap : 2rem;
  form{
    @include flex(center , center);
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  .email{
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    position: relative;
  }
  .emailErrors{
    margin-top: 5px;
    @include flex(center , left);
    gap: 5px;
    font-size: 11px;
    padding: 2px 12px;
    width: 80%;
    color: red;
  }
  .password{
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    position: relative;
  }

  input{
    padding: 7px 12px;
    outline: none;
    height: 32px;
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    width: 80%;
    border: 1px solid lightgray;
  }
  .inputError{
    border-color: red;
    background: #fff2f3;
  }
  .inputError::placeholder{
    color: red;
  }
  button {
    background-color: white;
    border: 1px solid #E8620C;
    color: #E8620C;
    padding: 7px 12px;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s ease;
    width: 87%;
  }
  button:hover{
    box-shadow: 0 1px 33px -11px rgba(0,0,0,0.35);

  }
  .emailLabel{
    position: absolute;
    top: -17px;
    left: 30px;
    font-size: 13px;
  }
  .errors{
    @include flex(center , center);
    gap: 5px;
    font-size: 13px;
    padding: 7px 12px;
    border: 1px solid red;
    background-color: #fff2f3;
    width: 80%;
  }
  .links{
    width: 80%;
    @include flex(center, space-between);

  }
  a{
    color: black;
    font-size: 12px;
  }
}